* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color01: #f9f9f9;
    --color02: #d9d9d9;
    --color03: #170059;
    --color04: #232323;
    --color05: #000000;
    --color06: #5f5f5f;
}

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family:  "Poppins", sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--color02);
    color: var(--color04);
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 1rem 4rem;
    background-color: var(--color03);
    color: var(--color01);
    z-index: 100;
}

nav i{
    font-size: 2rem;
}

nav img {
    height: 4rem;

}

nav ul {
    display: flex;
    gap: 0.5rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.menu a {
    padding: 1rem;
    border-radius: 0.625rem;
    transition: 0.5s;
}

.menu a:hover {
    background-color: var(--color01);
    color: var(--color03);
    font-weight: 700;
    cursor: pointer;
}

.menu-responsivo {
    font-size: 2rem;
    display: none;
    position: relative;
}

article {
    background-color: var(--color01);
    color: var(--color04);
    display: flex;
}

main {
    padding: 5rem 4rem 1rem;
}

article {
    display: grid;
    grid-template-columns: 16rem auto;
    border-radius: 0.625rem;
    margin: 1.25rem 0;
    transition: 0.5s;
    overflow: hidden;
}

article:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 0.5rem 0.1rem var(--color06);
}

.logo-article {
    padding: 0.625rem;
}

.logo-article img {
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    overflow: hidden;
}

.article-content {
    padding: 0.75rem;
    align-items: center;
    line-height: 1.5;
}

.article-content p {
    line-height: 1;
    padding: 0.5rem 0;
}

.article-content button {
    background-color: var(--color03);
    color: var(--color01);
    margin: 0.1rem;
    border-radius: 0.3rem;
}

.article-content button:hover {
    background-color: var(--color04);
    color: var(--color01);
    cursor: pointer;
}

footer {
    width: 100%;
    background-color: var(--color03);
    color: var(--color01);
    height: 3rem;
    text-align: center;
    align-content: center;
}

.menu-responsivo input {
    opacity: 0;
} 

.menu-button {
    cursor: pointer;
}

.menu-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--color01);
    min-width: 10rem;
    z-index: 10;
    border-radius: 0.5rem;
    text-align: center;
}

.menu-content ul {
    /* display: flex;
    flex-direction: column; */
    display: block;
}

.menu-content a {
    color: var(--color04);
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    display: block;
}

.menu-content a:hover {
    background-color: var(--color03);
    color: var(--color01);
    border-radius: 0.5rem;
}

#menu-toggle:checked + .menu-button + .menu-content {
    display: block;
}

/* Media Queries */

/* XS extra small : smartphone portrait */
@media (max-width: 768px) {
    nav {
        padding: 0.5rem 1rem;
    }
    
    .menu {
    display: none;
    }

    .menu-responsivo {
        display: block;
    }

    .menu-responsivo:hover .dropdown-menu{
        padding: 0.625rem;
        display: block;
    }

    main {
        padding: 5rem 0rem 0.625rem;
    }

    article {
        margin: 1rem 2.5rem;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}

@media (min-width: 768px) {
    nav {
        padding: 1rem 2rem;
    }
    
    main {
        padding: 5rem 0rem 0.625rem;
    }

    article {
        margin: 1rem 2.5rem;
    }
}

@media (min-width: 992px) {
    
}


